/*!
* Theme's Stylesheet - Modify/Add your own stylesheet + Your Copyright
*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic);

body,input,select,textarea {
	color:#6e6e6e;
	font-family:'Roboto',sans-serif;
	font-size:16px;
	font-weight:300;
	line-height: 1.6;
}
footer {
	background-color:#222;
	color:#999;
	margin-top:50px;
	padding:50px 0;
	font-size:15px;
}
h1,h2,h3,h4,h5,h6 {
	color: #000000;
	margin:0 0 20px;
	text-transform:uppercase;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:700;
	letter-spacing:1px;
}
footer hr {
	border-top:1px solid #444;
}
footer a, footer a:active, footer a:focus{
	color:#fff;
}
img{
	max-width:100%;
max-height:100%;
}

@media (min-width: 768px){
.intro {
    height: 100%;
    padding: 0;
	}
	.header-wrapper{
		display: inline-block;
position: absolute;
right: 0;
top: 0;
	}
}

.intro {
	display:table;
	/*width:100%;*/
	height:auto;
	/*padding:100px 0 100px 0;*/
	/*text-align:center;*/
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
}

.btnghost {
	border:2px solid #333;
	background-color:transparent;
	padding:15px 20px;
	letter-spacing:3px;
	font-size:12px;
	text-transform:uppercase;
	font-weight:400;
	color:#333;
	margin-top:20px;
	display:inline-block;
}
.btnghost:hover {
	background-color:#333;
	color:#fff;
	border:2px solid #333;
}
.btn {
	border-radius:0;
	text-transform:uppercase;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:400;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.btn-default {
	border:1px solid #42dca3;
	color:#42dca3;
	background-color:transparent;
}
.btn-default:hover,.btn-default:focus {
	border:1px solid #42dca3;
	outline:0;
	color:#000;
	background-color:#42dca3;
}

a.btn.btnghost.btn-lg {
    color: #000;
}

a.btn.btnghost.btn-lg:hover {
    color: #fff;
}
